.App {
  text-align: center;
}

.App-header {
  background-color: #a9a9a9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p,
a,
button {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.main__pokemon-container {
  display: flex;
  margin: 24px auto;
  padding: 24px 48px;
  background: #b0c2a2;
  border-radius: 15px;
}

.main__pokemon-list {
  list-style: none;
  text-align: left;
}